<h1><%= @lesson.name %></h1>
<p><%= @lesson.content %></p>

<%= link_to t('.button_edit'), edit_admin_course_lesson_path(@course, @lesson) %>
<%= link_to t('.button_delete'), admin_course_lesson_path(@course, @lesson), method: :delete %>
<%= link_to t('.button_back'), admin_course_path(@course) %>
