<h1><%= @lesson.name %></h1>
<p><%= @lesson.content %></p>

<%= link_to 'Editar aula', edit_course_lesson_path(@lesson) %>
<%= link_to 'Apagar', course_lesson_path(@course, @lesson), method: :delete %>
<%= link_to 'Voltar', course_path(@course) %>