<h1><%= @lesson.name %></h1>
<p><%= @lesson.content %></p>

<%= link_to t('.button_edit'), edit_course_lesson_path(@lesson) %>
<%= link_to t('.button_delete'), course_lesson_path(@course, @lesson), method: :delete %>
<%= link_to t('.button_back'), course_path(@course) %>