<h1><%= @teacher.name %></h1>

<h2>Email</h2>
<p><%= @teacher.email %></p>

<h2>Bio</h2>
<p><%= @teacher.bio %></p>

<h2>Foto de perfil</h2>
<p><%= image_tag @teacher.profile_picture %></p>

<%= link_to 'Editar', edit_teacher_path %>
<%= link_to 'Voltar', teachers_path %>