<h1><%= @course.name %></h1>
<dl>
    <dt><%= Course.human_attribute_name(:description) %></dt>
    <dd><%= @course.description %></dd>

    <dt><%= Course.human_attribute_name(:code) %></dt>
    <dd><%= @course.code %></dd>

    <dt><%= Course.human_attribute_name(:price) %></dt>
    <dd><%= number_to_currency @course.price %></dd>

    <dt><%= Course.human_attribute_name(:enrollment_deadline) %></dt>
    <dd><%= l @course.enrollment_deadline %></dd>

    <dt><%= Course.human_attribute_name(:teacher) %></dt>
    <dd><%= @course.teacher.name %></dd>
</dl>

<% if student_signed_in? %>
    <% if current_student.courses.exclude?(@course) %>
        <% if @course.enrollment_deadline >= Date.current %>
            <%= link_to t('.buy'), enroll_student_course_path, method: :post %>
        <% else %>
            <p><%= t('.enrollment_over') %></p>
        <% end %>
    <% end %>
<% else %>
    <p><%= t('.login_message_html', login_href: (link_to 'login', new_student_session_path)) %></p>
<% end %>

<% if @course.lessons.any? %>
    <% @course.lessons.each do |lesson|%>
        <% if current_user && current_user.courses.include?(@course) %>
            <%= link_to lesson.name, course_lesson_path(@course, lesson) %>
        <% else %>
            <%= lesson.name %>
        <% end %>
    <% end %>
<% else %>
    <p><%= t('.no_available_lesson') %></p>
<% end %>

<%= link_to t('.button_back'), courses_path %>
